

.logo h1 {
    margin: 0;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 20px; /* Space between links */
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: underline; /* Add hover effect */
}

.user-profile img {
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    border-radius: 50%; /* Make it circular */
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1494aa;
    padding: 10px 20px;
    height: 60px;
  }
  
  .navbar-left .logo {
    height: 40px;
  }
  
  .navbar-right a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .user-profile {
    height: 40px;
    border-radius: 50%;
  }
  
