/* src/components/Receipt.css */
.receipt-container {
    padding: 30px;
    max-width: 600px;
    margin: auto;
    background: white;
    border: 2px solid #1494aa;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .receipt-container h2 {
    color: #1494aa;
    margin-bottom: 20px;
  }
  
  .receipt-container p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .receipt-container p span {
    font-weight: bold;
    color: #960253;
  }
  
  .receipt-container button {
    margin-top: 20px;
    background-color: #1494aa;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .receipt-container button:hover {
    background-color: #960253; /* Change button color on hover */
  }
  